.env

# Large data files and benchmark data
projects/r-import-benchmark/data/
#*.csv
!projects/r-accessible-tables/exploration/demographic_table_accessible.csv
!projects/r-import-benchmark/benchmark_comparison.csv

# Large binary files
*.parquet

# Compressed files (often large)
*.gz

resources/raw